<header class="cursos">
  <nav>
    <div class="row">
      <img class="logo">
      <ul class="menuPrincipal">
        <li>
            <a href="#inicio">Inicio</a>
        </li>

            <li>
                  <a href="#cursos">Cursos</a>
            </li>
            <li>
                  <a href="#contacto">Contacto</a>
            </li>
            <li>
                  <a href="/App.html">Entrar</a>
            </li>
      </ul>
    </div>
  </nav>
  <div class="hero-text-box">
    <h1>Cursos profesionales</h1>
    <a class="btn btn-primario" href="#">Nuestros Cursos<a>
    <a class="btn btn-fantasma" href="#">Registrarse</a>
  </div>
</header>
<section class="menuDosContenedor" sticky>
  <ul class="navegacionDos">
    <li>
        <a href="#">Nuestros Cursos</a>
    </li>
    <li>
        <a href="#">Mas Información</a>
    </li>
    <li>
        <a href="#">Registro</a>
    </li>
  </ul>
</section>
<main>
  <section class="seccion-quienes">
      <div class="row">
          <h2>Para empresarios &mdash; Para emprendedores</h2>
          <p class="texto-largo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="row">
        <div class="col span_6_of_12 box">
            <h3>Para Empresarios</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col span_6_of_12 box">
          <h3>Para Emprendedores</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
  </section>
  <section class="queOfrecemos boxFix">
    <div class="row">
      <h2>Ultimos Cursos</h3>

    </div>
  <!--  <ul ng-repeat="curso in cursos" cursos>
      <li ng-bind="curso.titulo" ></li>
    </ul>-->
      <ul class="portafolio" ng-repeat="curso in cursos">
        <li>
          <a href="#">

            <figure class="contenido">
              <p class="cursoTitulo" ng-bind="curso.titulo"></p>
              <img ng-src={{curso.imagen}} alt={{curso.titulo}} />
            </figure>
          </a>
        </li>

  </section>
  <section class="boxFix">
    <div class="row">
      <h2>Mas Información</h3>

    </div>
    <div class="row">
      <div class="col span_12_of_12 box">
        <h3>Materiales</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="row">
      <div class="col span_12_of_12 box">
        <h3>Discusiones</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <section class="boxFix">
      <div class="row">
          <h2>Registro</h2>
      </div>
  </section>
</main>
